@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Poppins', sans-serif;
}

@media (min-width:768px) {
  
.gradient-border {
  border-top: 2px solid;
  border-image: linear-gradient(to right, #912980,#d68253 ,#fcb43a) 1;
}
}

.review-swiper-button-prev,
.review-swiper-button-next {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;

  display: grid;
  place-items: center;
}

.review-swiper-button-prev {
  right: 8%;
  transform: rotate(180deg);
}

.review-swiper-button-next {
  right: 0;
}

